@font-face {
    font-family: 'SF Pro';
    src: url('../../public/fonts/SF-Pro-Display-Regular.otf') format('opentype');
    font-weight:400;
}
@font-face {
    font-family: 'SF Pro';
    src: url('../../public/fonts/SF-Pro-Display-Medium.otf') format('opentype');
    font-weight: 500;
}
@font-face {
    font-family: 'SF Pro';
    src: url('../../public/fonts/SF-Pro-Display-Light.otf') format('opentype');
    font-weight: 300;
}

:root {
    --text: #FFFFFF;
    --background: #0E0E10;
    --grey: #373737;
    --transition: 0.2s;
    --addiction: #27262C;
    --addiction_text: #B1B1B1;
    --transparent: rgba(107, 107, 107, 0.4);
    --accent: #FF7700;
    --gradient_button: linear-gradient(90deg, #FFC251, #FF7700, #FF3700);
    --gradient_transparent: linear-gradient(transparent, #FF5900);
    --gradient_inactive: linear-gradient(90deg, #AAAAAA, #444444);
    --inactive: #686661;
    --button_shadow: 5px 5px 30px 0 #0D0D0D;
    --addiction_shadow: -1px -1px 30px rgba(0, 0, 0, 0.25);
    --hr: #3E3E3E;
}

:root.light {
    --text: #000000;
    --background: #F7F3E3;
    --transparent: rgba(0, 0, 0, 0.4);
    --addiction: #FFFCF1;
    --addiction_text: #1E1E1E;
    --button_shadow: 18px 18px 30px 0 rgba(209, 217, 230, 0.25);
    --addiction_shadow: -1px -1px 30px 0 rgba(255, 255, 255, 0.25);
    --hr: #8E8E93;
}

* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro", sans-serif;
    border: 0;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
}
::-webkit-scrollbar {
    width: 0 !important;  /* Убираем ширину скроллбара */
    height: 0 !important; /* Убираем высоту скроллбара */
    display: none;        /* Полное скрытие */
}
/* Для Firefox */
html {
    scrollbar-width: none; /* Скрываем скроллбар */
    -ms-overflow-style: none; /* Для IE/Edge */
}

/* Для IE/Edge */
body {
    -ms-overflow-style: none;
    background-color: var(--background);
    color: var(--text);
}
.grabbing {
    cursor: grabbing !important;
    user-select: none;
}
input, textarea {
    outline:none;
    font-size: 16px !important;
}

body {
    background-color: var(--background);
    color: var(--text);
    transition: var(--transition);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;    /* Для Firefox */
}

a {
    text-decoration: none;
    color: var(--text) !important;
}
button {
    background-color: transparent;
    cursor: pointer;
}

.loading {
    background-color: var(--background);
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow:hidden;
    top:0; left:0;
    display: flex;
    z-index: 999999999;
    transition: 0.2s;
}
.loading>div {
    font-weight: bold;
    font-size: 24px;
    color: var(--text);
    margin: auto;
    line-height: 24px;
}

.overlay {
    position: fixed;
    bottom:0;
    transform:translateY(100%);
    left:0;
    background-color: var(--addiction);
    width:100%;
    transition: transform 0.2s;
    overflow-y: auto;
    z-index: 999999;
    padding-bottom: 53px;
    max-height: 98vh;
    box-sizing: border-box;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.background {
    background-color: rgba(11, 11, 11, 0.33);
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: block;
    opacity: 1;
    transition: var(--transition);
    z-index: 999;
}
.popup {
    position: fixed;
    width: 62%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 16px;
    border-radius: 20px;
    z-index: 9999999;
    background-color: var(--grey);
    transition: 0.2s;
}


/* HOME (MAIN) */
.home {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 70px;
}
.home_account {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 12px;
}
.home_account_name {
    color: rgba(255, 119, 0, 1);
    font-size: 24px;
    line-height: 24px;
    margin: auto 0;
    font-weight: 600;
}
.home_account_info {
    padding: 4px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    border-radius: 24px;
    background: var(--gradient_button);
    cursor: pointer;
}
.home_account_info>img {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    object-fit: cover;
}
.home_account_info_bank {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    margin: auto 8px;
    color: white;
}

.home_stories_slider {
    padding: 0 12px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    overflow-x: auto;
}
.home_stories_slider>div {
    min-width: 85px;
    width: 85px;
    height: 110px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    cursor: pointer;
}
.home_stories_slider>div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left:0;
    z-index: 0;
}
.home_story_background {
    width: 100%;
    height: 100%;
    background: var(--gradient_transparent);
    position: absolute;
    top: 0;
    left:0;
    z-index: 1;
}
.home_story_title {
    z-index: 2;
    position: relative;
    margin: 7px;
    margin-top: auto;
    font-weight: 500;
    font-size: 10px;
    line-height: 11px;
    color: white;
}

.home_nav {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 0 12px;
    margin-top: 15px;
    overflow-x: auto;
}
.home_nav>div {
    display: flex;
    flex-direction: column;
    transition: var(--transition);
    cursor: pointer;
    user-select: none;
}
.home_nav>div>img {
    width: 28px;
    height: 28px;
    margin: auto;
    margin-bottom: 6px;
    object-fit: contain;
    filter: grayscale(1);
    transition: var(--transition);
    user-select:none;
    max-width: 100%;
}
.home_nav>div>div {
    color: var(--inactive);
    font-weight: 500;
    font-size: 13px;
    transition: var(--transition);
}
.home_nav>div.active>img {
    width: 45px;
    height: 45px;
    margin-bottom: 0 !important;
    filter: grayscale(0);
}
.home_nav>div.active>div {
    color: var(--text);
    font-size: 13px;
}

.home_products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 12px;
    margin-top: 36px;
    column-gap: 14px;
    row-gap: 20px;
}

.home_deliveryTime {
    position: fixed;
    right: 12px;
    width: calc(100vw - 24px);
    bottom: calc(env(safe-area-inset-bottom, 0) + 12px);
    box-sizing: border-box;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #0E0E0EB2;
    backdrop-filter: blur(10.5px);
    font-size: 14px;
    transition: var(--transition);
}
.home_deliveryTime_time {
    width: 100vw;
    padding: 19px 20px;
    color: white;
}
.home_deliveryTime_cart {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: fit-content;
    padding: 15px 26px;
    cursor: pointer;
    color: white;
}
.home_deliveryTime_cart>img {
    width: 22px; height: 22px;
    margin: auto 0;
}
.home_deliveryTime_cart>div {
    font-size: 20px;
    margin: auto 0;
    white-space: nowrap;
}


/* PRODUCT */
.product {
    border-radius: 10px;
    background: var(--addiction);
    display: flex;
    flex-direction: column;
    /*padding: 5px 11px;*/
    padding: 5px;
    box-sizing: border-box;
    box-shadow: var(--addiction_shadow),
        0 4px 4px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.productBackground {
    background: var(--background);
}
.product>img {
    width: 100%;
    height: 136px;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 10px;
}
.product_name {
    margin: 0 3px;
    margin-top: 10px;
    font-weight: 500;
    font-size: 14px;
    color: var(--text);
}
.product_weight {
    margin: 0 3px;
    margin-top: 6px;
    color: var(--inactive);
    font-size: 12px;
    margin-bottom: 15px;
}
.product_price {
    margin: 0 3px;
    margin-top: auto;
    padding: 9px 11px;
    background: var(--gradient_button);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 21px;
    margin-bottom: 5px;
    box-shadow: var(--button_shadow),
        var(--addiction_shadow),
        0 4px 4px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.product_price_main {
    color: white;
    font-size: 20px;
    line-height: 100%;
    display: flex;
    flex-direction: row;
    gap: 6px;
}
.product_price_main>svg {
    margin: auto 0;
}
.product_price_main>span {
    font-size: 20px;
}
.product_price_sale {
    position: relative;
    margin: auto 0;
    display: flex;
    height: fit-content;
}
.product_price_sale_price {
    color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
}
.product_price_sale>.line {
    display: flex;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    min-width: 100%;
}


/* PROFILE */
.profile {
    display: flex;
    flex-direction: column;
}
.profile_account {
    margin: 14px 12px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.profile_account_avatar {
    width: 80px;
    height: 80px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    object-fit: cover;
}
.profile_account_info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.profile_account_info_name {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
}
.profile_account_info_status {
    font-size: 14px;
    line-height: 14px;
}
.profile_account_settings {
    width: 24px;
    height: 24px;
    margin-left: auto;
    cursor: pointer;
}

.profile_widgets {
    margin-top: 20px;
    padding: 0 12px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow-x: auto;
}
.profile_widgets>div {
    padding: 10px;
    background: linear-gradient(-214deg, #FFCD51, #FF7700);
    position: relative;
    height: 145px;
    width: 135px;
    min-width: 135px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    user-select: none;
}
.profile_widgets>div>div {
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    color: white;
}
.profile_widgets>div>img {
    position: absolute;
}

.profile_allergens {
    margin-top: 34px;
    display: flex;
    flex-direction: column;
    gap: 11px;
}
.profile_allergens_title,
.profile_challenges_title {
    font-weight: 600;
    font-size: 20px;
    margin: 0 12px;
}
.profile_allergens_list {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    margin: 0 12px;
}
.profile_allergens_list>button {
    background: var(--gradient_button) !important;
    color: white;
}
.profile_allergens_list>div,
.profile_allergens_list>button {
    padding: 13px 15px;
    background: var(--transparent);
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    color: white;
}

.profile_challenges {
    margin-top: 43px;
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.profile_achievements {
    margin: 0 12px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: var(--transparent);
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    cursor: pointer;
}
.profile_achievements_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 500;
}
.profile_achievements_main {
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.profile_achievements_main>svg {
    width: 48px;
    height: 48px;
    margin: 0 auto;
}


/* CART */
.cart_overlay {
    transition: var(--transition);
    top: 0; left: 0;
    max-height: 100vh;
    height: 100vh;
}
.cart {
    display: flex;
    flex-direction: column;
    transition: var(--transition);
    top: 0; left: 0;
    max-height: 100vh;
    height: 100vh;
    min-height: 100vh;
}
.cart_background {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: var(--background);
    transition: var(--transition);
    opacity: 0;
}
.cart_address {
    margin: 18px 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
}
.cart_address>div {
    font-size: 16px;
    line-height: 100%;
}
.cart_address>svg {
    width: 16px;
    height: 16px;
    margin: auto 0;
    cursor: pointer;
}
.cart_address>select {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.cart_main {
    box-sizing: border-box;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background: var(--addiction);
    padding: 16px 0;
    /*height: calc(100% - 40px);*/
    height: 100%;
    position: relative;
    padding-bottom: 40px;
}
.cart_main_close {
    margin: 0 12px;
    color: var(--accent);
    font-size: 15px;
    cursor: pointer;
}
.cart_list {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex-grow: 0;
    max-height: calc(100% - 18px);
    padding-bottom: 140px;
    box-sizing: border-box;
}
.cart_list_header {
    position: absolute;
    top: 46px;
    left: 0;
    height: 10px;
    width: 100%;
    background: linear-gradient(var(--addiction), transparent);
}
.cart_list_item {
    padding: 20px 12px;
    display: flex;
    flex-direction: column;
    gap: 22px;
    border-bottom: 1px solid #55525C;
}
.cart_item_product {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.cart_item_product>img {
    width: 88px;
    height: 88px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
.cart_item_product_info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto 0;
}
.cart_item_product_info_name {
    font-weight: 600;
    font-size: 16px;
}
.cart_item_product_info_count {
    color: var(--inactive);
    font-size: 13px;
}
.cart_item_product>svg {
    margin-top: 3px;
    margin-left: auto;
    cursor: pointer;
}

.cart_item_control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cart_item_control_price {
    margin: auto 0;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    gap: 6px;
}
.cart_item_control_price>svg {
    margin: auto 0;
}
.cart_item_control_price>span {
    font-size: 18px;
}
.cart_item_control_count {
    display: flex;
    flex-direction: row;
    gap:12px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    background: #444444;
    padding: 5px 16px;
}
.cart_item_control_count_number {
    font-size: 16px;
    line-height: 100%;
    user-select: none;
}
.cart_item_control_count_svg {
    height: 100%;
    cursor: pointer;
    display: flex;
}
.cart_item_control_count_svg>svg {
    margin: auto 4px;
}

.cart_promo {
    padding: 40px 12px;
    border-bottom: 1px solid #55525C;
}
.cart_promo>input {
    width: 100%;
    box-shadow:
        0 4px 4px 0 rgba(0, 0, 0, 0.25),
        -1px -1px 30px rgba(65, 65, 65, 0.25);
    padding: 14px 20px;
    box-sizing: border-box;
    border-radius: 23.5px;
    background: #444444;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.cart_summa {
    padding: 24px 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
}
.cart_summa>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cart_summa_bonuses {
    display: flex;
    flex-direction: row;
    gap: 4px;
}
.cart_summa_bonuses>div {
    margin: auto 0;
}

.cart_footer {
    position: fixed;
    padding: 24px 12px;
    padding-bottom: 50px;
    box-sizing: border-box;
    width: 100%;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(6.2px);
    bottom: 0;
    left: 0;
    transition: var(--transition);
}
.cart_footer>button {
    border-radius: 33px;
    background: var(--gradient_button);
    padding: 16px 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    width: 100%;
    color: white;
}


/* PRODUCT */
.productView {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 100vh;
    top: 0; left: 0;
    transition: var(--transition);
    z-index: 999;
}
.productView_product {
    position: relative;
    height: 65vh;
    left: 50%;
    transform: translateX(-50%) scale(1.2);
    transform-origin: bottom;
    cursor: pointer;
    margin-bottom: 3vh;
}
.productView_product>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.productView_transparent {
    position: absolute;
    bottom: -4px; left: 0;
    height: 100px;
    width: 100%;
    z-index: 99999999999999999;
    cursor: pointer;
    background: linear-gradient(0deg, var(--background),
    rgba(0,0,0,0));
}
.product_transparent {
    position: absolute;
    top:0; left:0;
    width: 100%;
    height: 70vh;
    cursor: pointer;
    background: linear-gradient(0% var(--background)
        10% transparent, 100% transparent);
}
.productView_info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 114px;
}
.productView_title {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
}
.productView_description {
    font-size: 16px;
    line-height: 18px;
    color: var(--addiction_text);
    margin: 0 12px;
    text-align: center;
}
.productView>button {
    position: fixed;
    bottom: 32px;
    background: var(--gradient_button);
    border-radius: 32px;
    font-weight: 600;
    font-size: 20px;
    color: white;
    padding: 13px 76px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 9999999999;
}

.productView_settings_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background: rgba(247, 242, 227, 0.25);
    backdrop-filter: blur(28.4px);
    z-index: 99999;
    overflow-y: auto;
    padding: 20px 14px;
    padding-bottom: 114px;
    box-sizing: border-box;
    transition: var(--transition);
    opacity: 0;
}
.productView_settings_overlay_block {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.productView_settings_overlay_title {
    font-weight: 600;
    color: white;
    font-size: 20px;
}
.productView_settings_overlay_container {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    row-gap: 10px;
    flex-wrap: wrap;
}
.productView_settings_overlay_container>div {
    padding: 13px 16px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 22px;
    cursor: pointer;
    color: white;
}
.productView_settings_overlay_container>div>svg {
    width: 11px;
    height: 11px;
    margin: auto 0;
}
.productView_settings_overlay_container>div>div {
    margin: auto 0;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: white;
}
.productView_settings_overlay_info {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px;
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.productView_settings_overlay_info_selector {
    display: flex;
    flex-direction: row;
    gap: 6px;
}
.productView_settings_overlay_info_selector>div {
    padding: 7px 14px;
    border-radius: 50px;
    background: rgba(30, 30, 30, 0.6);
    color: white;
    transition: var(--transition);
    cursor: pointer;
}
.productView_settings_overlay_info_selector>div.active {
    background: white;
    color: black;
}
.productView_settings_overlay_info_main {
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    box-sizing: border-box;
    gap: 10px;
}
.productView_settings_overlay_info_main>div {
    width: 25%;
}
.productView_settings_overlay_info_main>div>div {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: white;
}
.productView_settings_overlay_info_main>div>span {
    font-size: 13px;
    color: rgba(192, 192, 192, 1);
    line-height: 100%;
}


/* ADDRESS */
.address {
    display: flex;
    flex-direction: column;
    margin: 0 13px;
    margin-top: 17px;
    box-sizing: border-box;
    border-top: 1px solid rgba(62, 62, 62, 1);
}
.address>div {
    border-bottom: 1px solid var(--hr);
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
    cursor: pointer;
}
.address_checkbox {
    width: 24px;
    height: 24px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: rgba(142, 142, 147, 1);
    transition: var(--transition);
    margin: auto 0;
    display: flex;
}
.address_checkbox::before {
    content: "";
    width: 12px;
    height: 12px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: white;
    margin: auto;
    opacity: 0;
    transition: var(--transition);
}
.address>div.active>.address_checkbox {
    background: rgba(255, 89, 0, 1);
}
.address>div.active>.address_checkbox::before {
    opacity: 1;
}
.address_text {
    margin: auto 0;
    font-size: 16px;
    flex-grow: 1;
}
.address>div>svg {
    margin-top: 4px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.address_add {
    cursor: pointer;
}
.address_add>svg {
    width: 23px !important;
    height: 25px !important;
    margin-top: 0 !important;
}
.address_add>div {
    margin: auto 0;
    color: var(--accent);
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
}

.address_adding_overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    transition: var(--transition);
    transform: translateY(100%)
}
.yandex-map {
    width: 100%;
    height: calc(100vh - 380px);
}
.address_adding_overlay_footer {
    height: 422px;
    padding: 28px 12px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--background);
    box-sizing: border-box;
}
.address_adding_overlay_footer_buttons {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.address_adding_overlay_footer_buttons>button {
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    border-radius: 33px;
    width: 50%;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    background: var(--gradient_button);
    padding: 16px 0;
    color: white;
}
.address_adding_overlay_footer_buttons>button.inactive {
    background: var(--gradient_inactive);
}


/* ADDRESS COMPONENT */
.addressComponent {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.addressComponent>div {
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.addressComponent>div>div {
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 8px 14px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid rgba(144, 144, 144, 1);
    width: 100%;
    transition: var(--transition);
}
.addressComponent>div>div>label {
    font-size: 12px;
    color: #999999;
    line-height: 100%;
    width: 100%;
}
.addressComponent>div>div>input {
    color: var(--text);
    font-size: 14px;
    line-height: 100%;
    background: transparent;
    width: 100%;
}
.addressComponent_without {
    padding: 18px 14px !important;
}
.address_variables {
    position: absolute;
    top: 100%;
    width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    z-index: 999999;
    display: flex;
    flex-direction: column;
    background: var(--grey);
    left: 0;
}
.address_variables>div {
    box-sizing: border-box;
    width: 100%;
    padding: 4px 10px;
    border-bottom: 1px solid var(--addiction);
    font-size: 12px;
    cursor: pointer;
}
.address_variables>div:last-child {
    border-bottom: 0;
}


/* HISTORY */
.history {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 12px;
}
.history_null {
    background: transparent !important;
    text-align: center;
}
.history_null>button {
    background-color: var(--addiction);
    border-radius: 10px;
    max-width: 60vw;
    margin: 0 auto;
    margin-top: 10px;
}
.history>div {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    background: var(--addiction);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: var(--addiction_shadow),
        0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.history_date {
    margin: 20px 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
}
.history>div>hr {
    width: 100%;
    background: var(--hr);
    height: 1px;
}
.history_delivery {
    display: flex;
    flex-direction: column;
    margin: 16px 0;
    gap: 5px;
}
.history_delivery_title {
    font-size: 14px;
    color: #999999;
}
.history_summa {
    margin: 16px 0;
    display: flex;
    flex-direction: row;
}
.history_summa>div {
    width: 50%;
}
.history_products_container {
    position: relative;
    margin: 22px 0;
}
.history_product_transparent {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 10px;
    background: linear-gradient(90deg, var(--addiction), transparent);
}
.history_product_transparent.right {
    background: linear-gradient(-90deg, var(--addiction), transparent);
    left: unset; right: 0;
}
.history_products {
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow-x: auto;
    padding: 0 6px;
}
.history_products>img {
    width: 86px;
    height: 86px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 10px;
}
.history_products>div {
    min-width: 86px;
    width: 86px;
    height: 86px;
    border: 1px solid grey;
    border-radius: 10px;
    text-align: center;
    display: flex;
}
.history_products>div>span {
    margin: auto;
    font-size: 14px;
    line-height: 14px;
}
.history>div>button {
    padding-top: 16px;
    padding-bottom: 18px;
    width: 100%;
    font-size: 18px;
    line-height: 100%;
    font-weight: 600;
    color: var(--accent);
}


/* BONUS */
.bonus {
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.bonus>div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.bonus_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 14px;
}
.bonus_title {
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    margin-top: 3px;
}
.bonus_points {
    padding: 6px 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    background: var(--gradient_button);
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}
.bonus_points>div {
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    color: white;
}
.bonus_points>svg {
    margin: auto 0;
    width: 17px;
    height: 16px;
}
.bonus_slider {
    display: flex;
    flex-direction: row;
    padding: 0 14px;
    gap: 14px;
    overflow-x: auto;
    padding-bottom: 10px;
}
.bonus_slider>div {
    min-width: 171px;
}


/* ORDER */
.order_main {
    margin-top: 20px;
    min-height: calc(100vh - 20px);
    box-sizing: border-box;
    overflow-y: auto;
    background: var(--addiction);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-bottom: 127px;
}
.order_main>hr {
    width: 100%;
    height: 1px;
    background: #55525C;
}
.order_to {
    padding: 20px 8px;
    padding-bottom: 25px;
}
.order_title {
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    margin-left: 8px;
}
.order_to_selector {
    margin-top: 10px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 34px;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 0 4px;
    box-sizing: border-box;
}
.order_to_selector>div {
    /*transition: var(--transition);*/
    color: rgba(153, 153, 153, 1);
    padding: 14px 0;
    cursor: pointer;
    flex-grow: 1;
    text-align: center;
    z-index: 10;
}
.order_to_selector>div.active {
    font-weight: 600;
    color: white;
}
.order_to_selector_background {
    height: calc(100% - 8px);
    background: var(--gradient_button);
    position: absolute;
    width: 30%;
    top: 4px;
    padding: 0 !important;
    border-radius: 34px;
    z-index: 1;
    transition: var(--transition);
}
.payment_selector {
    width: 50%;
    left: 4px;
}
.order_to>.addressComponent {
    margin-top: 10px;
}
.order_payment {
    padding: 20px 8px;
    padding-bottom: 0;
}
.order_payment_selector {
    margin-top: 10px;
}
.order_description {
    margin-top: 18px;
}

.order_footer {
    padding: 14px 24px;
    padding-bottom: 50px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(6.2px);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
}
.order_footer>button {
    width: 100%;
    background: var(--gradient_button);
    padding: 16px 0;
    font-weight: 600;
    font-size: 18px;
    color: white;
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    border-radius: 33px;
}


/* AUTH */
.auth {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top:0;
    left: 0;
    z-index:99999;
    overflow-y: auto;
    background: var(--background);
}
.authMain {
    margin: 0 auto;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
}
.authMain>svg {
    width: 93px;
    height: 93px;
    margin: 0 auto;
}
.authMain_title {
    margin-top: 17px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}
.authMain_input {
    padding: 13px 57px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid var(--text);
    display: flex;
    flex-direction: row;
    gap: 4px;
    width: fit-content;
    margin: 0 auto;
    margin-top: 14px;
    text-align: left;
}
.authMain_input>span,
.authMain_input>div input {
    font-weight: 600;
    font-size: 20px;
    white-space: nowrap;
    color: var(--text);
}
.authMain_input>div {
    display: flex;
    flex-direction: row;
}
.authMain_input>div input {
    width: 14px;
    background: transparent;
    caret-color: transparent;
    text-align: right;
    max-width: 14px;
    margin-bottom: 2px;
    transition: background var(--transition);
}
.authMain_input>div input:focus {
    margin-bottom: 0;
    box-sizing: border-box;
    border-bottom: 2px solid var(--text);
}
.authMain_input>div>div input:focus {
    background: rgba(128, 128, 128, 0.19) !important;
}
.authMain_input>div>div {
    position: relative;
}
.authMain_input>div>div>div {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 2px;
    background: var(--text);
}
.authMain_input.code {
    gap: 10px;
}
.authMain_input.code>div {
    gap: 4px;
}

.authMain_approval {
    display: flex;
    flex-direction: row;
    gap: 6px;
    margin: 0 auto;
    margin-top: 8px;
    cursor: pointer;
    user-select: none;
}
.authMain_checkbox {
    width: 14px;
    height: 14px;
    margin: auto 0;
    border: 1px solid var(--text);
    border-radius: 4px;
    display: flex;
    transition: var(--transition);
    background: transparent;
}
.authMain_checkbox>svg {
    height: 12px;
    width: 12px;
    margin: auto;
    opacity: 0;
}
.authMain_checkbox>svg path {
    stroke: var(--background);
}
.authMain_checkbox.active {
    background: var(--text);
}
.authMain_checkbox.active>svg {
    opacity: 1;
}
.authMain_approval_text {
    font-size: 12px;
    line-height: 22px;
    margin: auto 0;
}
.auth>button {
    position: fixed;
    /*bottom: 15px;*/
    bottom: calc(env(safe-area-inset-bottom, 0) + 15px);
    left: 50%;
    transform: translateX(-50%);
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    border-radius: 33px;
    background: var(--gradient_button);
    filter: grayscale(1);
    padding: 12px 63px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    transition: var(--transition);
}
.auth>button.active {
    filter: grayscale(0);
}


/* ALLERGENS */
.allergens {
    background: var(--addiction);
    padding-bottom: 0 !important;
    display: flex;
    overflow-y: unset !important;
    max-height: 90vh;
}
.allergens_main {
    overflow-y: auto;
    max-height: 90vh;
    height: 90vh;
    /*height: 100%;*/
    width: 100%;
    padding: 30px 14px;
    padding-bottom: 120px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.allergens_title {
    text-align: center;
    font-size: 20px;
    line-height: 100%;
    font-weight: 600;
}
.allergens_input {
    margin-top: 25px;
    background: rgba(116, 116, 128, 0.12);
    padding: 9px 12px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    border-radius: 10px;
}
.allergens_input>svg {
    margin: auto 0;
}
.allergens_input>input {
    background: transparent;
    font-size: 17px;
    line-height: 22px;
    color: var(--text);
    flex-grow: 1;
}
.allergens_popularTitle {
    margin-top: 18px;
    color: rgba(142, 142, 147, 1);
    font-size: 15px;
}
.allergens_list {
    margin-top: 18px;
    column-gap: 10px;
    row-gap: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.allergens_list>div {
    padding: 13px 16px;
    background: rgba(0, 0, 0, 0.4);
    transition: var(--transition);
    font-weight: 500;
    font-size: 15px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.allergens_list>div::before {
    content: "";
    width: 100%; height: 100%;
    position: absolute;
    top: 0; left: 0;
    background: var(--gradient_button);
    opacity: 0;
    transition: var(--transition);
    z-index: -1;
}
.allergens_list>div.active {
    background: transparent;
}
.allergens_list>div.active::before {
    opacity: 1;
}
.allergens>button {
    position: fixed;
    bottom: 53px;
    left: 50%;
    transform: translateX(-50%);
    padding: 16px 73px;
    background: var(--gradient_button);
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    border-radius: 33px;
    color: white;
}


/* ACCEPT */
.accept {
    padding: 8px 12px;
    padding-bottom: 55px;
    position: fixed;
    top: 0; left: 0;
    z-index:99999999;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    background: var(--background);
    box-sizing: border-box;
}
.accept>div {
    border-bottom: 1px solid var(--hr);
}
.accept_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0;
}
.accept_header>div {
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
}
.accept_delivery {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 0;
}
.accept_delivery_title,
.accept_products_title {
    color: #999999;
}
.accept_products {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.accept_products_list_container {
    display: flex;
    position: relative;
}
.accept_products_list {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 0 6px;
    overflow-x: auto;
}
.accept_products_list>img {
    width: 86px;
    height: 86px;
    object-fit: cover;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.accept_products_list_transparent {
    width: 10px;
    height: 100%;
    left: 0; top: 0;
    position: absolute;
    background: linear-gradient(90deg, var(--background), transparent);
}
.accept_products_list_transparent.right {
    left: unset; right: 0;
    background: linear-gradient(-90deg, var(--background), transparent);
}
.accept>button {
    position: fixed;
    /*bottom: 55px;*/
    bottom: calc(env(safe-area-inset-bottom, 0) + 55px);
    background: var(--gradient_button);
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    border-radius: 33px;
    padding: 16px 37px;
    font-weight: 600;
    font-size: 18px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    color: white;
}


/* СИСТЕМНАЯ НОТИФИКАЦИЯ */
/* УВЕДОМЛЕНИЯ */
.popup_notification_container {
    display:flex;
    flex-direction:column-reverse;
    position:fixed;
    left:50%;
    top:0;
    transform: translateX(-50%);
    z-index:9999999999999999999999999999999999;
}
.popup_notification_container>div {
    transition: none;
    visibility: hidden;
    height: 0;
}
.popup_notification {
    width:250px;
    display:flex;
    flex-direction:row;
    padding:10px;
    border-radius:10px;
    color:white !important;
    column-gap:10px;
    margin-top:10px;
}
.popup_notification.success {
    background-color: #4caf50;
}
.popup_notification.error {
    background-color: #f44336;
}
.popup_notification>i {
    font-size:24px;
    margin:auto 0;
    color:white !important;
}
.popup_notification>div {
    text-align:left;
    margin:auto 0;
    font-size:14px;
    font-weight:500;
    color:white !important;
}


/* ДОСТИЖЕНИЯ */
.achievements {
    margin: 16px;
}
.achievements_title {
    font-family: 'Ubuntu Sans', sans-serif;
    font-size: 24px;
    font-weight: 500;
}
.achievements_selector {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: var(--background);
    height: 52px;
    border-radius: 20px;
}
.achievements_selector_item {
    width: 50%;
    text-align: center;
    color: var(--addiction_text);
    display: flex;
    transition: 0.2s;
    z-index: 10;
}
.achievements_selector_item.active {
    color: var(--text);
}
.achievements_selector_item>div {
    margin: auto;
    font-weight: 500;
    cursor: pointer;
    line-height: 16px;
}
.achievements_selector_background {
    transition: 0.2s;
    background: var(--gradient_button);
    width: calc(50% - 16px);
    height: calc(100% - 16px);
    top: 8px;
    left: 8px;
    position: absolute;
    border-radius: 12px;
}
.achievements_selector_background.right {
    left: calc(50% + 8px);
}
.achievements_main {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    row-gap: 34px;
    flex-wrap: wrap;
}
.achievements_main>div {
    width: calc(33% - 32px / 3);
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
.achievements_main>div>svg {
    overflow: visible;
    margin: 0 auto;
}
.achievements_main>div>div {
    text-align: center;
    margin-top: 8px;
    font-weight: 500;
}

.achievements_overlay_title {
    text-align: center;
    font-weight: 500;
}
.achievements_overlay_description {
    margin-top: 8px;
    text-align: center;
}
.home_learning_progress {
    margin-top: 16px;
}
.achievements_overlay>button {
    margin-top: 16px;
    width: 100%;
    background-color: var(--addiction);
    border-radius: 12px;
    color: var(--text);
    padding: 8px 0;
    font-size: 16px;
    cursor: pointer;
}

.home_learning_progress {
    margin-top: 16px;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background-color: var(--transparent);
}
.home_learning_progress_bar {
    border-radius: 20px;
    width: 50%;
    background: var(--gradient_button);
    height: 100%;
    position: relative;
    display: flex;
    transition: 0.2s;
    box-sizing: border-box;
    max-width: 100%;
}
.home_learning_progress_bar>div {
    margin: auto 0;
    margin-left: auto;
    margin-right: 16px;
    padding-left: 16px;
    font-weight: 500;
    transition: 0.2s;
    line-height: 16px;
}